@font-face {
    font-family: 'NunitoSans';
    src: url('./NunitoSans-Variable.woff2') format('woff2'),
         url('./NunitoSans-Variable.woff') format('woff');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Variable.woff2') format('woff2'),
         url('./Montserrat-Variable.woff') format('woff');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}
